* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.post-user-profile-img {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.post-img {
  border-radius: 10px;
}
