.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  padding-right: min(50px, 5%);
  padding-left: min(50px, 5%);
}

.navbar {
  padding-top: 11px;
  padding-bottom: 11px;
}

.navbar-logo {
  font-size: 40px;
  cursor: pointer;
  margin-right: 20px;
}

.left-side-nav-container {
  display: flex;
  max-width: 416px;
  justify-content: space-between;
  padding-right: 20px;
}

.navbar-search {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #ededed;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
  padding-left: 11px;
  max-width: 300px;
}

.right-side-nav-container {
  display: flex;
  align-items: center;
}

.right-side-nav {
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 24px;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.nav-buttons-mobile {
  display: none;
}

