* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 670px) {
  .footer-column {
    display: none;
  }

  .copyright-text {
    margin-top: 52px;
    text-align: center;
  }
}
